/* Цвета */
:root {
  --primary-text-color: #ffffff; /* Основной цвет текста */
  --secondary-text-color: #ffffff80; /* Вторичный цвет текста */
  --primary-background-color: #1e1f21; /* Основной цвет фона */
  --secondary-background-color: #0f090c80; /* Вторичный цвет фона (фон карточки например)*/
  --primary-gradient-color: #b86e9f; /* Основной цвет градиента		\          */
  --secondary-gradient-color: #662525; /* Вторичный цвет градиента	 \     для некоторых бордеров и фона кнопок      */
  --chat-user-message-color: #702f78; /* Вторичный цвет сообщения в чате*/
  --chat-bot-message-color: #262629; /* Вторичный цвет сообщения в чате*/
}
/* Размеры устройств */
$mobile-s: 320px; /* Мобильное устройство - маленький */
$mobile-m: 375px; /* Мобильное устройство - средний */
$mobile-l: 425px; /* Мобильное устройство - большой */
$tablet-s: 768px; /* Планшет - маленький */
$tablet-m: 1024px; /* Планшет - средний */
$tablet-l: 1224px; /* Планшет - большой */
$desktop-s: 1440px; /* Настольный компьютер - маленький */
$desktop-m: 1680px; /* Настольный компьютер - средний */
$desktop-l: 1920px; /* Настольный компьютер - большой */
$large-desktop: 2560px; /* Большой настольный компьютер */
